# ==================================
# 1. 默认忽略根目录下的所有内容
/*

# ==================================
# 2. 依次“放行”（取消忽略）必要的文件
!/.gitignore
!/README.md
!/build.py
!/requirements.txt
!/upx.exe

# ==================================
# 3. “放行”必要的文件夹及其内部内容
!/assets/
!/src/

# ==================================
# 4. 在已放行的规则中，做特定的额外排除
/assets/icon-raw.png

# 针对源码文件夹中的编译缓存、运行时文件做基本排除
/src/__pycache__/
*.pyc
